@inherits LayoutComponentBase
<div class="page d-flex flex-column">
    <div class="container-fluid bg-lightBlue" >
        <Component />
        <span class=" pr-2 ">Site Language</span><ChooseLang/>
    </div>
    <div class="container-fluid flex-grow-1" >
        @Body
    </div>

   @* <footer class="fixed-bottom text-center d-flex align-items-center justify-content-center" style="background-color: var(--bg-gray-200)">
        <p>class="mb-0 py-2> ChatApp <strong>Supriya</strong></p>
    </footer>*@
</div>



  @*  <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
*@