@page "/volunteer"
@inject IStringLocalizer<App> Localizer

<div class="container-fluid d-flex flex-column min-vh-100">
    <!-- Header Section -->
    <header class="text-center py-5 header-section">
        <div class="container">
            <h1 class="text-purple">BECOME A VOLUNTEER</h1>
            <p class="lead">
               @Localizer[ "Make a difference by helping others communicate across language barriers."]
            </p>
            <button class="btn btn-outline-primary btn-lg">GET STARTED</button>
        </div>
    </header>

    <!-- Information Section -->
    <section class="info-section text-center py-3 bg-light">
        <div class="banner">
        <div class="row">
           
            <div class="col-md-4">
                <h3 class="text-dark">ANYTIME ANYWHERE</h3>
            </div>
            <div class="col-md-4">
                <h3 class="text-dark">COMMUNITY CONNECTION</h3>
            </div>
            <div class="col-md-4">
                <h3 class="text-dark">GROW PROFESSIONALLY</h3>
            </div>
        </div>
</div>

    </section>

    <!-- Purpose Section -->
    <section class="about-section py-5">
                <div class="container">

        <div class="row ">
            <div class="col-md-6 px-5">
                <h3 class="text-purple">PURPOSE</h3>
                <p class="about-text">
                    The purpose of a volunteer is critical to making communication accessible for individuals across the globe. Whether the volunteer is refining their language skills, gaining real world experience or just wants to help break language barriers, their contributions help foster new understanding, perspective, and connection. So Join us in creating a world that is more connected than ever no matter what language they speak.
                    .
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="placeholder-image.png" class="img-fluid purpose-image" alt="Purpose Image" />
            </div>
        </div>
        </div>

    </section>
    <!-- Footer  -->
    <footer class="text-center py-3 bg-light mt-auto">
        <p>Contact Us</p>
        <p>Supisith11@gmail.com</p>
        <p>214-429-0378 | hello@reallygreatsite.com |</p>
    </footer>
</div>
@code {

}
